<%# if current_user == @user %>

  <h1><%= @user.name %>'s Profile</h1>

  Email: <%= @user.email %>
  <%# else %>
    <!-- <h1>You shall not pass!</h1> -->
  <%# end %>

<%= link_to 'Back to list', users_path %>
